@import 'fonts';
@import 'config';
@import 'libs';
@import 'keyframes';

:root {
  --text: #131313;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $default-font, Arial, Helvetica, sans-serif;
  color: #2C2C36;
  line-height: 1.35;

  &.hidden {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.modal__title{
  font-size: 2.25rem;
  font-weight: 500;
  position: relative;
  color: #fff;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    right: calc(100% + 1.5rem);
    background-color: #FFB951;
  }
}

.dropdown {
  padding: .95rem 2rem;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 1.3rem;

  &__header {
    cursor: pointer;
    padding-right: 75px;
    position: relative;

    &::after {
      content: "";
      display: block;
      background-position: center;
      background-size: 10px auto;
      transform: rotate(270deg);
      transition: transform .3s ease;
      background-repeat: no-repeat;
      background-image: url(assets/img/dist/arr-portfolio.svg);
      @extend .section-price__arrow;
      position: absolute;
      top: 5%;
      right: 1.5rem;
    }

    &.active {
      &::after {
        transform: rotate(90deg);
      }
    }
  }

  &__title {
    font-size: 1.125rem;
    color: #ffb951;
  }

  &__content {
    margin-top: .95rem;
    margin-bottom: .95rem;
    padding-top: 1.25rem;
    border-top: 1px solid rgba(#fff, .27);
    display: none;
  }

  &__text {
    margin-bottom: 0;
    padding-right: 75px;
  }
}

.btn {
    background-color: #FFB951;
    display: inline-block;
    position: relative;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    padding: 27px 60px 28px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    transition: all .3s ease;
    color: #5F4114;
    box-shadow: 0px 2px 0px #9F6B1D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:hover {
      color: darken(#9F6B1D, 30%);
      background-color: darken(#FFB951, 5%);
    }
    &--light {
      background-color: #fff;
      color: #2c2c36;
      box-shadow: 0px 5px 0px #C2C2C2;
      filter: none;
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
}

.callback {
  &__line-text {
    font-weight: 600;
    margin-bottom: 0;
    background-color: #FFB951;
    color: #5F4114;
    padding: 0 4px;
    display: inline-block;
  }

  &__input {
    flex: 1 0 auto;
    width: 50%;
  }

  &__btn {
    flex: 1 0 auto;
    width: 50%;
  }

  &__btn-inner {
    width: 100%;
  }

  &__accept {
    display: flex;
    align-items: flex-start;
    margin-top: 0.85rem;
  }

  &__subtext {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__accept-text {
    margin-bottom: 0;
    color: #fff;
    opacity: 0.78;
    margin-left: 12px;
    font-size: .75rem;
  }
}

.input {
  padding: 27px 20px 28px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #838383;
  font-size: 1.125rem;
  &[type="tel"] {
    padding-left: 84px;
    background-image: url(assets/img/dist/tel.svg);
    background-position: 30px 50%;
    background-size: 18px 18px;
    background-repeat: no-repeat;
  }
}

.h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;

  span {
    font-weight: 800;
  }

  &::after {
    content: "";
    display: block;
    width: 132px;
    height: 5px;
    background-color: #ffb951;
    margin-top: 12px;
  }
}

a {
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    color: #FFB951;
  }
}

.header-main {
  padding: 21px 0;
  position: relative;
  color: #000;

  &__nav-wrapper {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style-type: none;
    background-color: rgba(#000, .61);
    padding: 1rem 0;
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
    .menu-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }

    .menu-item {
      a {
        color: #fff;
        &:hover {
          color: #FFB951;
        }
      }
    }
  }

  &__btn {
    font-size: 0.75rem;
    padding: 12px 15px;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__logo-text {
    margin-left: 3.5rem;
    color: #000;
    font-size: .85rem;
    max-width: 94px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
  }

  &__soc-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__tel {
    font-size: 1.3rem;
    color: #000;
    span {
      font-size: 2.4rem;
      font-weight: bold;
    }
  }

  &__soc-item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer {
  padding: 2rem 0 2.3rem;
  .copyright, .privacy {
    color: #565656;
  }
  .copyright {
    margin-bottom: 11px;
  }
  .privacy {
    text-decoration: underline;
    &:hover {
      color: #ffb951;
    }
  }
  .developer {
    color: #acacac;
  }
}

.section-main {
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15vh 0 15vh;
  position: relative;
  &__h1 {
    font-size: 2rem;
    font-weight: 800;
    max-width: 550px;
    color: #fff;
    line-height: 1.87;
    margin-bottom: 8.88vh;
    span {
      background-color: #FFB951;
      color: #5F4114;
      padding: 0 8px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto 7vh;
    &:last-child {
      margin: 0 auto;
    }
  }
  &__img {
    margin-right: 1.9rem;
    width: 73px;
    flex: 0 0 auto;
    object-fit: contain;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__text {
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__description,
  &__title {
    margin-bottom: 0;
    font-size: 1.125rem;
  }
  
}

.section-service {
  padding: 5vh 0 0;
  background-image: url(assets/img/dist/object-2.png);
  background-position: 18px 75%;
  background-size: 136px 142px;
  background-repeat: no-repeat;

  &__h2 {
    margin-bottom: 50px;
  }

  &__title,
  &__name,
  &__value {
    color: #fff;
  }

  &__title {
    font-size: 1.125rem;
    margin-bottom: 12.5px;
    position: absolute;
    bottom: 3.5rem;
  }

  &__name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__value {
    color: #ffb951;
  }

  &__btn {
    margin-top: 32px;
    font-size: 0.75rem;
    padding: 15px 26px 18px;
    width: 100%;
  }

  &__card-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    > *:not(.section-service__title) {
      opacity: 0;
    }
  }

  &__card {
    position: relative;
    &:hover {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
      }
      .section-service__body {
        .section-service__title {
          position: static;
          bottom: auto;
        }

        >*:not(.section-service__title) {
          opacity: 1;
        }
      }
    }
  }

  &__card {
    padding: 2.6rem 6rem;
    height: 360px;
    filter: drop-shadow(0px 16px 29px rgba(44, 44, 54, 0.24));
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;
    background-blend-mode: overlay;
    position: relative;
    transition: all .3s ease;
    &::after {
      content: "";
      display: block;
      transition: all .3s ease;
      background: linear-gradient(360deg, #2C2C36 3.23%, rgba(44, 44, 54, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &::before {
      content: "";
      display: block;
      transition: all .3s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: -1;
      background: linear-gradient(360deg, #2C2C36 38.72%, rgba(44, 44, 54, 0) 168.71%);
    }
  }

  &__wrapper {
    display: flex;
  }
}

.section-price {
  padding: 7.77vh 0 8.70vh;
  position: relative;
  &__callback {
    margin-top: 45px;
  }
  &__h2 {
    margin-bottom: 38px;
    max-width: 380px;
  }
  &__portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    padding: 0 12.5px;
  }

  &__popup {
    width: 33.3%;
    display: block;
    margin: 0 -12.5px;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
  }

  &__img {
    width: 100%;
    height: 193px;
    object-fit: cover;
  }

  &__arrows {
    display: flex;
    column-gap: 2.75rem;
  }

  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0 73px 0 40px;
  }

  &__arrow {
    outline: none;
    border: none;
    width: 37px;
    height: 37px;
    justify-content: center;
    background-color: #ffb951;
    border-radius: 10rem;
    &--right {
      transform: scaleX(-1);
    }
  }

  &__slider-hint {
    font-size: 1.125rem;
    color: #ffb951;
  }

  @for $i from 4 through 6 {
    &__popup:nth-child(#{$i}n) {
      clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
    }
  }

  &__table {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 23px 23px 38px;
    box-sizing: border-box;
    border-collapse: separate;
    th {
      color: #ffb951;
      border-bottom: 1px solid rgba(#FFFFFF, .13);
      font-weight: bold;
      font-size: 1.125rem;
      padding-bottom: 30px;
      width: 70%;
      &:last-child {
        text-align: right;
      }
    }
    td {
      border-bottom: 1px solid rgba(#FFFFFF, .13);
      padding-bottom: 15px;
      padding-top: 15px;
      font-size: 1.125rem;
      width: 30%;
      &:last-child {
        text-align: right;
      }
    }
    tr:last-child {
      td {
        border-bottom: none;
        color: #fff;
        opacity: 0.62;
        text-align: left;
        padding-top: 45px;
      }
    }
  }
}

.section-why {
  padding: 5.37vh 0 0;
  &__h2 {
    margin-bottom: 25px;
    max-width: 430px;
  }

  &__btn {
    margin-top: 1rem;
  }

  &__text {
    font-size: 1.125rem;
    padding-left: 60px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    position: relative;
    margin-top: 8.05vh;
  }

  &__item-wrapper {
    display: flex;
    column-gap: 2.3rem;
    align-items: flex-start;
  }

  &__item-title {
    color: #ffb951;
    margin-bottom: 15px;
    font-size: 1.125rem;
  }

  &__item-text {
    margin-bottom: 0;
  }

  &__slider {
    position: relative;
  }

  // &__logo {
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   top: 8%;
  //   width: 20vw;
  //   transform: translateX(-50%)
  // }

  &__subtext {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__arrows {
    @extend .section-price__arrows;
    position: absolute;
    bottom: 25px;
    right: 48px;
  }

  &__arrow {
    @extend .section-price__arrow;
    &--right {
      @extend .section-price__arrow--right;
    }
  }
}

.section-info {
  padding: 20vh 0 5.55vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__callback {
    margin-top: 28px;
  }
  &__h2 {
    margin-bottom: 34px;
    max-width: 550px;
    span {
      color: #ffb951;
    }
  }
}

.section-parts {
  padding: 8vh 0 7.40vh;
  &__h2 {
    max-width: 550px;
    margin-bottom: 32px;
  }
  &__counter-slide {
    transition: all .3s ease;
    &.slick-next,
    &.slick-prev {
      transform: scale(.75);
      opacity: 0.5;
    }
    &.slick-over-next,
    &.slick-over-prev {
      transform: scale(.5);
      opacity: 0.25;
    }
    &.hidden {
      opacity: 0;
      transform: scale(.25);
    }
  }
  &__counter {
    max-width: 460px;
    width: 100%;
    margin: auto;
    .slick-list {
      overflow-y: visible;
      overflow-x: clip;
    }
  }
  &__title {
    font-size: 1.125rem;
    color: #ffb951;
    margin-bottom: 18px;
  }
  &__num {
    color: #5f4114;
    font-weight: 800;
    box-shadow: 0px 5px 20px rgba(#FFB951, .25);
    font-size: 2rem;
    width: 45px;
    height: 45px;
    display: flex;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: #ffb951;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 47.5%;
      background-color: #ffb951;
      transform: rotate(45deg) translateY(50%);
      z-index: -1;
      width: 10px;
      height: 10px;
    }
  }
  
  &__line {
    display: flex;
    margin-top: 10px;
    margin-bottom: 22px;
    &::before, &::after {
      content: "";
      display: block;
      width: 50%;
      height: 24px;
    }

    &::before {
      border-bottom: 1px solid #FFB951;
      border-right: 1px solid #FFB951;
      border-bottom-right-radius: 5px;
    }

    &::after {
      border-bottom: 1px solid #FFB951;
      border-left: 1px solid #FFB951;
      border-bottom-left-radius: 5px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__arrows {
    @extend .section-price__arrows;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__arrow {
    @extend .section-price__arrow;

    &--right {
      @extend .section-price__arrow--right;
    }
  }
}

.section-callback {
  padding: 2.2rem 0;
  position: relative;
  > div {
    position: relative;
    z-index: 10;
  }
  &::before {
    content: "";
    display: block;
    width: 394px;
    height: 268px;
    position: absolute;
    left: 50%;
    top: 1.3rem;
    transform: translateX(-50%);
    background-image: url(assets/img/dist/callback-1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.section-specialists {
  padding: 12vh 32px;
  &__h2 {
    margin-bottom: 2.5rem;
  }

  &__card {
    height: 324px;
    padding: 1.3rem 1.3rem 1.35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center !important;
    background-size: cover !important;
    background-blend-mode: overlay;
    background-repeat: no-repeat !important;
  }

  &__title {
    color: #fff;
    margin-bottom: 9px;
    font-size: 1.125rem;
  }

  &__specialization {
    color: #ffb951;
  }
}

.section-faq {
  padding: 32px 0 4.62vh;
  &__h2 {
    margin-bottom: 43px;
  }
}

.section-contacts {
  padding: 4.62vh 0 10px;
  &__h2 {
    margin-bottom: 5.55vh;
  }
  &__callback {
    max-width: 428px;
  }
  &__input {
    padding: 12px;
    padding-left: 42px !important;
    font-size: 0.95rem;
    background-position-x: 15px !important;
  }
  &__btn {
    font-size: 0.95rem;
    padding: 12px 23px;
  }
  &__icon {
    margin-right: 1.55rem;
  }
  &__tel {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    span {
      font-size: 2.3rem;
      font-weight: 800;
    }
  }
  &__address {
    margin-bottom: 0;
  }
  &__soc-list {
    display: flex;
    column-gap: 1.35rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.--bg {
  background-color: #2C2C36;
}
.--invert {
  color: #fff;
  .h1, .h2, h3, .h4 {
    color: #fff;
  }
}

.--accent {
  background-color: #ffb951;
  color: #5f4114;
  .h2 {
    &::after {
      background-color: #5f4114;
    }
    margin-bottom: 21px;
  }
}

.--text-center {
  text-align: center;
}

.--cloud {
  position: relative;
  margin-top: 120px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    height: 120px;
    left: 0;
    width: 100%;
    background-image: url(assets/img/dist/cloud-1.png);
  }
}

.row--mask {
  @for $i from 1 through 3 {
    [class*='col-']:nth-child(#{$i}n) {
      .section-service__card {
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      }
    }
  }

  @for $i from 4 through 6 {
    [class*='col-']:nth-child(#{$i}n) {
      .section-service__card {
        clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
      }
    }
  }

  @for $i from 7 through 9 {
    [class*='col-']:nth-child(#{$i}n) {
      .section-service__card {
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      }
    }
  }
}

@import 'media';